VITON-HD/checkpoints/
VITON-HD/datasets/test/
VITON-HD/results/
cihp/checkpoint/*
cihp/dataset/images/*
openpose-1.7.0/models/face/*
openpose-1.7.0/models/hand/*
openpose-1.7.0/models/pose/*
db*
input
input.*
**/__pycache__/
